[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113"
verify_ssl = true
name = "downloadpytorch"

[packages]
numpy = "*"
torch = {version = "*", index = "downloadpytorch"}
torchvision = {version = "*", index = "downloadpytorch"}
torchaudio = {version = "*", index = "downloadpytorch"}
pandas = "*"
scipy = "*"
sympy = "*"
matplotlib = "*"
pyqt5 = "*"
imageio = "*"
ipywidgets = "*"
scikit-learn = "*"
plotly = "*"
tensorflow = "*"
tensorflow-probability = "*"
apache-beam = "*"
altair = "*"
vega-datasets = "*"

[dev-packages]
ipykernel = "*"
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
